<div class="profile-container">


<div class="fullProfile">



<form method='POST'>
    <input type='hidden' name="_csrf" value={{csrfToken}}>
    {{#profile}}
    <input value={{first}} name="first">First Name
    <input value={{last}} name="last">Last Name
    <input value={{email}} name="email">Email Address
    <input type="password" name="password">Password
    <input type="password" name="password2">Repeat Password
    <input {{#if age}} value={{age}} {{/if}} name="age">Age
    <input {{#if city}} value={{city}} {{/if}} name="city">City
    <input {{#if url}} value={{url}} {{/if}} name="url">Homepage
    <button id="edit-profile" name="button">edit profile</button>
    {{/profile}}

</form>


</div>

</div>
