<h1>This is who we have so far:</h1>

<ul>
            {{#names}}
            <li>
            <a {{#if url}}href={{url}} target="_blank"{{/if}}>{{first}} {{last}}</a>{{age}}
            <a href="signers/{{city}}">{{city}}</a></li>
            {{/names}}
        </ul>

{{#if cities}}
        <ul>
            {{#usersOfCity}}
                <li>{{first}} {{last}} {{age}} {{city}} {{url}}</li>
            {{/usersOfCity}}
        </ul>
{{/if}}
