<img src="/hamburgermenu.svg" alt="men" id="men">


<h1>This is who we have so far</h1>
<div class="profile-container">
    <div class="fullProfile">
<ul>
            {{#names}}
            <li>
            <a {{#if url}}href={{url}} target="_blank"{{/if}}>{{first}} {{last}}</a> {{age}}
            <a href="signers/{{city}}">{{city}}</a></li>
            {{/names}}
        </ul>

{{#if cities}}
<h1>in {{city}}:</h1>
        <ul>
            {{#usersOfCity}}
            <li>{{first}} {{last}} {{age}}
                <a {{#if url}}href={{url}} target="_blank"{{/if}}>{{url}}</a>
            </li>
            {{/usersOfCity}}
        </ul>
{{/if}}
<img src="https://media.giphy.com/media/H5urqjnvEg8TK/giphy.gif" alt="signature-gif">

</div>
</div>
{{>nav}}
